{
  "presets": [
    ["@babel/preset-env", {
      "targets": {
        "firefox": "78"
      }
    }],
    "@babel/preset-typescript",
    "@babel/preset-react"
  ],
  "plugins": ["@atfzl/babel-plugin-codex"]
}
